---
// layout import
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "./MainLayout.astro";
import TOC from "../components/TOC.astro";

// styles
import "../styles/global.css";

// utils
import { formatDate } from "../js/utils.js";

// props
const { frontmatter, headings } = Astro.props;
const date = formatDate(frontmatter.date);
const { title, description, author, image } = frontmatter;
---

<Layout {title} {description}>
 <div class="dark:bg-neutral-10 bg-neutral-98 h-full md:flex">
  <div>
   <Navbar />
  </div>
  <div class="xl:flex xl:mx-auto xl:flex-col mx-auto">
   <div
    class="w-full max-[280px]:max-w-[280px] max-w-[320px] sm:max-w-sm md:max-w-full mx-auto"
   >
    <Header {title} {author} {date} coverPhoto={image.src} />
   </div>
   <div class="flex md:flex-row flex-col-reverse py-4">
    <article
     class="max-[280px]:max-w-[280px] max-w-[320px] sm:max-w-sm md:max-w-sm lg:max-w-lg xl:max-w-2xl 2xl:max-w-3xl mx-auto md:p-4"
    >
     <slot />
    </article>
    <div
     class="max-[280px]:max-w-[280px] max-w-[320px] sm:max-w-sm md:max-w-sm mx-auto mb-4"
    >
     <TOC pageHeadings={headings} />
    </div>
   </div>
   <Footer />
  </div>
 </div>
</Layout>
