---
// layout import
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "./MainLayout.astro";
import Badge from "../components/Badge.astro";
import TOC from "../components/TOC.astro";
import RelatedPosts from "../components/RelatedPosts.astro";
import { slugify } from "../js/utils.js";

// styles
import "../styles/global.css";

// utils
import { formatDate, formatBlogPosts } from "../js/utils.js";

// props
const { frontmatter, headings } = Astro.props;
const date = formatDate(frontmatter.date);
const { title, description, author, image, category } = frontmatter;

const allPosts = await Astro.glob("../pages/blog/*.{md,mdx}");
const formattedPosts = formatBlogPosts(allPosts, { sortByDate: false });
const relatedPosts = formattedPosts
 .filter(
  (post) =>
   post.frontmatter.category === category && post.frontmatter.title !== title
 )
 .slice(0, 3);
---

<Layout
 {title}
 {description}
 image={frontmatter.image}
 {image}
 {frontmatter}
 robots={frontmatter.robots}
>
 <div class="dark:bg-neutral-10 bg-neutral-98 h-full md:flex">
  <div>
   <Navbar />
  </div>
  <div class="xl:flex xl:mx-auto xl:flex-col mx-auto w-full">
   <div
    class="w-full max-[280px]:max-w-[280px] max-w-[320px] sm:max-w-sm md:max-w-full mx-auto"
   >
    <Header
     {title}
     {author}
     {date}
     coverPhoto={image.src}
     {slugify(category)}
    />
   </div>
   <div class="flex md:flex-row flex-col-reverse py-4">
    <article
     class="max-[280px]:max-w-[280px] max-w-[320px] sm:max-w-sm md:max-w-sm lg:max-w-lg xl:max-w-2xl 2xl:max-w-3xl mx-auto md:px-2"
    >
     <slot />
     {
      relatedPosts.length > 0 && (
       <aside>
        <h5>Related Posts</h5>
        <RelatedPosts {relatedPosts} />
       </aside>
      )
     }
     <div
      class="giscus p-2 rounded-xl bg-primary-90 text-primary-10 dark:bg-primary-30 dark:text-primary-90"
     >
     </div>
    </article>
    <div
     class="max-[280px]:max-w-[280px] max-w-[320px] sm:max-w-sm md:max-w-sm mx-auto mb-4 space-y-2 md:flex md:flex-col-reverse md:items-end md:justify-end justify-start"
    >
     <TOC pageHeadings={headings} />
     <Badge
      link={`/category/${slugify(category)}`}
      text={category}
      className="capitalize"
      btnClass="text-xs md:mb-4"
     />
    </div>
   </div>
   <Footer />
  </div>
 </div>
</Layout>

<script
 src="https://giscus.app/client.js"
 data-repo="aldimaull/aldimaulana-blog"
 data-repo-id="R_kgDOKBaXVQ"
 data-category="General"
 data-category-id="DIC_kwDOKBaXVc4CYS99"
 data-mapping="og:title"
 data-strict="0"
 data-reactions-enabled="1"
 data-emit-metadata="0"
 data-input-position="top"
 data-theme="preferred_color_scheme"
 data-lang="en"
 data-loading="lazy"
 crossorigin="anonymous"
 async></script>
