---
// layout import
import Head from "./MainHead.astro";

// styles
import "../styles/global.css";

import "@fontsource/plus-jakarta-sans";

// props
const { title, description, image, frontmatter, robots } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="overflow-x-hidden md:overflow-visible">
 <Head {title} {description} {image} {frontmatter} {robots} />
 <body
  class="overflow-x-hidden md:overflow-visible dark:bg-background-dark bg-background-light duration-500"
 >
  <slot />
  <script is:inline type="module">
   const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
     return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
     return "dark";
    }
    return "light";
   })();

   if (theme === "light") {
    document.documentElement.classList.remove("dark");
   } else {
    document.documentElement.classList.add("dark");
   }
   window.localStorage.setItem("theme", theme);
  </script>
 </body>
</html>
